@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 5rem;
    --footer-height: 5rem;
}

body {
    margin: 0;
}

header {
    height: var(--header-height);
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

footer {
    height: var(--header-height);
}

@layer base {
    :root {
        --background: 48 29% 97%;
        --foreground: 0 0% 26%;
        --muted: 48 12% 90%;
        --muted-foreground: 48 12% 30%;
        --popover: 48 29% 94%;
        --popover-foreground: 0 0% 16%;
        --card: 48 29% 95%;
        --card-foreground: 0 0% 21%;
        --border: 48 19% 92%;
        --input: 48 19% 89%;
        --primary: 0 0% 26%;
        --primary-foreground: 0 0% 86%;
        --secondary: 0 0% 75%;
        --secondary-foreground: 0 0% 15%;
        --accent: 48 29% 82%;
        --accent-foreground: 48 29% 22%;
        --destructive: 8 86% 24%;
        --destructive-foreground: 8 86% 84%;
        --ring: 0 0% 26%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 240 3% 10%;
        --foreground: 0 0% 100%;
        --card: 240 3% 10%;
        --card-foreground: 0 0% 100%;
        --popover: 240 3% 10%;
        --popover-foreground: 0 0% 100%;
        --primary: 0 0% 100%;
        --primary-foreground: 240 3% 10%;
        --secondary: 240 3% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 240 3% 20%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3% 20%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 100%;
        --border: 240 3% 20%;
        --input: 240 3% 20%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 59%;
        --chart-3: 197 37% 54%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .main-container {
        @apply mx-auto max-w-[320px] sm:max-w-[620px] lg:max-w-[768px];
    }
}

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

.text-outline {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.text-stroke {
    color: white;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032,
        15px 15px 0px #46b59b, 20px 20px 0px #017e7f, 25px 25px 0px #052939,
        30px 30px 0px #c11a2b, 35px 35px 0px transparent,
        40px 40px 0px transparent, 45px 45px 0px transparent;
}
